.App{
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.App-header{
  margin-top: 100px;
  margin-left: 80%;
  align-content:flex-start;
}
.imageContainer{
  align-content: flex-start;
  font-size: 30px;
  white-space:pre-line;
}
.profilepic{
  margin-top: 30px;
  width:150px;
  height:150px;
  border-radius: 75px;
  overflow:hidden;

}
.container{
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}